.App {
  text-align: center;
}
h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}
.weatherSearch {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.weather-form {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
ul {
  list-style: none;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}
